<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- path -->
    <property name="LOG_PATH" value="/logs/nhjmk/nhauc"/>

    <appender name="INFO_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/info.log</file>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>200MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
    </appender>

    <appender name="ERROR_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
		<file>${LOG_PATH}/error.log</file>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>200MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

    <!--
        [참고]
        https://log4jdbc.brunorozendo.com/
    -->
    <!-- <conversionRule conversionWord="sqlc" converterClass="com.demo.operation.core.configuration.converter.SqlFormatConverter" /> -->

    <!-- 일반 콘솔 출력 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]  %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- SQL 포맷 출력 -->
    <!-- <appender name="SQL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %n REAL SQL : %sqlc%n
            </pattern>
        </encoder>
    </appender> -->

    <!-- 쿼리 관련 설정 start -->
    <!-- <logger name="jdbc.connection" level="OFF" />
    <logger name="jdbc.audit" level="OFF" />
    <logger name="jdbc.resultset" level="OFF" />
    <logger name="jdbc.sqlonly" level="OFF" />
    <logger name="jdbc.resultsettable" level="OFF" /> -->

    <!-- 로컬 설정 -->
    <logger name="jdbc" level="OFF" />
    <logger name="jdbc.audit" level="OFF" />
    <logger name="jdbc.connection" level="OFF" />
    <logger name="jdbc.sqlonly" level="OFF" />
    <logger name="jdbc.sqltiming" level="DEBUG" />
    <logger name="jdbc.resultset" level="OFF" />
    <logger name="jdbc.resultsettable" level="DEBUG" />

    <!-- Logs the SQL, post-execution, including timing statistics on how long the SQL took to execute. -->
	<!-- <logger name="jdbc.sqltiming" level="INFO">
		<appender-ref ref="SQL"/>
	</logger> -->
    <!-- 쿼리 관련 설정 end -->

    <logger name="com.lkbt.auction" level="DEBUG" appender-ref="CONSOLE" />
    <!-- <logger name="jdbc.sqlonly" level="INFO" appender-ref="SQL" /> -->
    <!-- sql 관련 설정 우선 모두 제거-->
    <logger name="log4jdbc.log4j2" level="OFF" additivity="false"/>

    <!-- 결과 표현만 살림 -->
    <!-- <logger name="jdbc.sqltiming" level="INFO" appender-ref="SQL" additivity="false"/>
    <logger name="jdbc.resultsettable" level="INFO" appender-ref="CONSOLE" additivity="false"/> -->

    <!-- swagger log off start -->
    <!-- swagger 3.x 대 버그 -->
    <!-- <logger name="io.swagger.models.parameters.AbstractSerializableParameter" level="OFF" /> -->
    <!-- swagger log off end -->

    <!-- 전역설정 -->
    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="develop">
        <!-- override, log 많아지므로 안정화되면 차후 삭제 -->
        <!-- <logger name="com.lkbt.auction" level="DEBUG" appender-ref="INFO_ROLLING" /> -->
        <root level="INFO">
            <!-- <appender-ref ref="CONSOLE" /> -->
            <appender-ref ref="INFO_ROLLING" />
            <appender-ref ref="ERROR_ROLLING" />
        </root>
    </springProfile>

    <springProfile name="intergration">
        <!-- override, log 많아지므로 안정화되면 차후 삭제 -->
        <!-- <logger name="com.lkbt.auction" level="DEBUG" appender-ref="INFO_ROLLING" /> -->
        <root level="INFO">
            <!-- <appender-ref ref="CONSOLE" /> -->
            <appender-ref ref="INFO_ROLLING" />
            <appender-ref ref="ERROR_ROLLING" />
        </root>
    </springProfile>

    <springProfile name="production">
        <!-- override, log 많아지므로 안정화되면 차후 삭제 -->
        <!-- <logger name="com.lkbt.auction" level="DEBUG" appender-ref="INFO_ROLLING" /> -->
        <root level="INFO">
            <!-- <appender-ref ref="CONSOLE" /> -->
            <appender-ref ref="INFO_ROLLING" />
            <appender-ref ref="ERROR_ROLLING" />
        </root>
    </springProfile>
</configuration>